trunk/MyQuartz/xml-resources/web-service-references/WSIndex/wsdl/localhost_8081/WSIndex/WSIndex.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Index/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Index/">

<xs:element name="EmptyData" type="tns:EmptyData" />

<xs:element name="EmptyDataResponse" type="tns:EmptyDataResponse" />

<xs:element name="IndexDataAll" type="tns:IndexDataAll" />

<xs:element name="IndexDataAllResponse" type="tns:IndexDataAllResponse" />

<xs:element name="IndexDataBookmark" type="tns:IndexDataBookmark" />

<xs:element name="IndexDataBookmarkResponse" type="tns:IndexDataBookmarkResponse" />

<xs:element name="IndexDataImage" type="tns:IndexDataImage" />

<xs:element name="IndexDataImageResponse" type="tns:IndexDataImageResponse" />

<xs:element name="IndexDataLocation" type="tns:IndexDataLocation" />

<xs:element name="IndexDataLocationResponse" type="tns:IndexDataLocationResponse" />

<xs:element name="IndexDataMusic" type="tns:IndexDataMusic" />

<xs:element name="IndexDataMusicResponse" type="tns:IndexDataMusicResponse" />

<xs:element name="IndexDataNews" type="tns:IndexDataNews" />

<xs:element name="IndexDataNewsResponse" type="tns:IndexDataNewsResponse" />

<xs:element name="IndexDataRaovat" type="tns:IndexDataRaovat" />

<xs:element name="IndexDataRaovatResponse" type="tns:IndexDataRaovatResponse" />

<xs:element name="IndexDataVideo" type="tns:IndexDataVideo" />

<xs:element name="IndexDataVideoResponse" type="tns:IndexDataVideoResponse" />

<xs:element name="IndexDataViwiki" type="tns:IndexDataViwiki" />

<xs:element name="IndexDataViwikiResponse" type="tns:IndexDataViwikiResponse" />

<xs:element name="SaveImage" type="tns:SaveImage" />

<xs:element name="SaveImageResponse" type="tns:SaveImageResponse" />

<xs:element name="SyncDataImage" type="tns:SyncDataImage" />

<xs:element name="SyncDataImageResponse" type="tns:SyncDataImageResponse" />

<xs:element name="SyncDataMusic" type="tns:SyncDataMusic" />

<xs:element name="SyncDataMusicResponse" type="tns:SyncDataMusicResponse" />

<xs:element name="SyncDataNews" type="tns:SyncDataNews" />

<xs:element name="SyncDataNewsResponse" type="tns:SyncDataNewsResponse" />

<xs:element name="SyncDataRaovat" type="tns:SyncDataRaovat" />

<xs:element name="SyncDataRaovatResponse" type="tns:SyncDataRaovatResponse" />

<xs:element name="SyncDataVideo" type="tns:SyncDataVideo" />

<xs:element name="SyncDataVideoResponse" type="tns:SyncDataVideoResponse" />

<xs:element name="SyncDataWiki" type="tns:SyncDataWiki" />

<xs:element name="SyncDataWikiResponse" type="tns:SyncDataWikiResponse" />

<xs:complexType name="SyncDataWiki">
<xs:sequence>
<xs:element name="listWikiPage" type="tns:viwikiPageDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="viwikiPageDTO">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="ip" type="xs:string" minOccurs="0" />
<xs:element name="keySearch" type="xs:string" minOccurs="0" />
<xs:element name="restrictions" type="xs:string" minOccurs="0" />
<xs:element name="text" type="xs:string" minOccurs="0" />
<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataWikiResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="IndexDataNews">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataNewsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataRaovat">
<xs:sequence>
<xs:element name="listRaovat" type="tns:raoVatDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="raoVatDTO">
<xs:sequence>
<xs:element name="body" type="xs:string" minOccurs="0" />
<xs:element name="category" type="xs:string" minOccurs="0" />
<xs:element name="contact" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0" />
<xs:element name="location" type="xs:string" minOccurs="0" />
<xs:element name="photo" type="xs:string" minOccurs="0" />
<xs:element name="price" type="xs:string" minOccurs="0" />
<xs:element name="score" type="xs:int" />
<xs:element name="site" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="url" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataRaovatResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="IndexDataImage">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataNews">
<xs:sequence>
<xs:element name="listNews" type="tns:newsDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="newsDTO">
<xs:sequence>
<xs:element name="body" type="xs:string" minOccurs="0" />
<xs:element name="category" type="xs:string" minOccurs="0" />
<xs:element name="created" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="last_update" type="xs:dateTime" minOccurs="0" />
<xs:element name="modified_by" type="xs:int" />
<xs:element name="photo" type="xs:string" minOccurs="0" />
<xs:element name="site" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="url" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataNewsResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="SyncDataMusic">
<xs:sequence>
<xs:element name="listMusic" type="tns:musicDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="musicDTO">
<xs:sequence>
<xs:element name="album" type="xs:string" minOccurs="0" />
<xs:element name="artist" type="xs:string" minOccurs="0" />
<xs:element name="author" type="xs:string" minOccurs="0" />
<xs:element name="category" type="xs:string" minOccurs="0" />
<xs:element name="dayUpload" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="lyric" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="url" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataMusicResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="SyncDataImage">
<xs:sequence>
<xs:element name="listImage" type="tns:imageDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="imageDTO">
<xs:sequence>
<xs:element name="category" type="xs:string" minOccurs="0" />
<xs:element name="fileType" type="xs:string" minOccurs="0" />
<xs:element name="height" type="xs:float" />
<xs:element name="id" type="xs:int" />
<xs:element name="site_body" type="xs:string" minOccurs="0" />
<xs:element name="site_title" type="xs:string" minOccurs="0" />
<xs:element name="size" type="xs:string" minOccurs="0" />
<xs:element name="url" type="xs:string" minOccurs="0" />
<xs:element name="url_local" type="xs:string" minOccurs="0" />
<xs:element name="website" type="xs:string" minOccurs="0" />
<xs:element name="width" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataImageResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="IndexDataAll">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataAllResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataViwiki">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataViwikiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SaveImage">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SaveImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EmptyData">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
<xs:element name="core" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EmptyDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataVideo">
<xs:sequence>
<xs:element name="listVideo" type="tns:videoDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="videoDTO">
<xs:sequence>
<xs:element name="category" type="xs:string" minOccurs="0" />
<xs:element name="duration" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="url" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SyncDataVideoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="IndexDataMusic">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataMusicResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataVideo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataVideoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataBookmark">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataBookmarkResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataLocation">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
<xs:element name="listLocation" type="tns:locationDTO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="locationDTO">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="location" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataRaovat">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="dateRequest" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IndexDataRaovatResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>