Crawler/xml-resources/web-service-references/WSIndex/wsdl/localhost_8084/WSIndex/WSIndex.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Index/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Index/">

<xs:element name="IOException" type="tns:IOException" />

<xs:element name="Index2SolrWiki" type="tns:Index2SolrWiki" />

<xs:element name="Index2SolrWikiResponse" type="tns:Index2SolrWikiResponse" />

<xs:complexType name="Index2SolrWiki">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0" />
<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="ip" type="xs:string" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="comment" type="xs:string" minOccurs="0" />
<xs:element name="restriction" type="xs:string" minOccurs="0" />
<xs:element name="text" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Index2SolrWikiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>