viwiki/xml-resources/web-service-references/WSIndex/wsdl/localhost_8084/WSIndex/WSIndex.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Index/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Index/" name="WSIndexService">
<types>
<xsd:schema>
<xsd:import namespace="http://Index/" schemaLocation="http://localhost:8084/WSIndex/WSIndex?xsd=1" />
</xsd:schema>
</types>
<message name="SyncDataWiki">
<part name="parameters" element="tns:SyncDataWiki" />
</message>
<message name="SyncDataWikiResponse">
<part name="parameters" element="tns:SyncDataWikiResponse" />
</message>
<message name="IndexDataViwiki">
<part name="parameters" element="tns:IndexDataViwiki" />
</message>
<message name="IndexDataViwikiResponse">
<part name="parameters" element="tns:IndexDataViwikiResponse" />
</message>
<message name="SyncDataMusic">
<part name="parameters" element="tns:SyncDataMusic" />
</message>
<message name="SyncDataMusicResponse">
<part name="parameters" element="tns:SyncDataMusicResponse" />
</message>
<message name="IndexDataMusic">
<part name="parameters" element="tns:IndexDataMusic" />
</message>
<message name="IndexDataMusicResponse">
<part name="parameters" element="tns:IndexDataMusicResponse" />
</message>
<message name="SyncDataImage">
<part name="parameters" element="tns:SyncDataImage" />
</message>
<message name="SyncDataImageResponse">
<part name="parameters" element="tns:SyncDataImageResponse" />
</message>
<message name="IndexDataImage">
<part name="parameters" element="tns:IndexDataImage" />
</message>
<message name="IndexDataImageResponse">
<part name="parameters" element="tns:IndexDataImageResponse" />
</message>
<message name="SyncDataVideo">
<part name="parameters" element="tns:SyncDataVideo" />
</message>
<message name="SyncDataVideoResponse">
<part name="parameters" element="tns:SyncDataVideoResponse" />
</message>
<message name="IndexDataVideo">
<part name="parameters" element="tns:IndexDataVideo" />
</message>
<message name="IndexDataVideoResponse">
<part name="parameters" element="tns:IndexDataVideoResponse" />
</message>
<portType name="WSIndex">
<operation name="SyncDataWiki">
<input wsam:Action="http://Index/WSIndex/SyncDataWikiRequest" message="tns:SyncDataWiki" />
<output wsam:Action="http://Index/WSIndex/SyncDataWikiResponse" message="tns:SyncDataWikiResponse" />
</operation>
<operation name="IndexDataViwiki">
<input wsam:Action="http://Index/WSIndex/IndexDataViwikiRequest" message="tns:IndexDataViwiki" />
<output wsam:Action="http://Index/WSIndex/IndexDataViwikiResponse" message="tns:IndexDataViwikiResponse" />
</operation>
<operation name="SyncDataMusic">
<input wsam:Action="http://Index/WSIndex/SyncDataMusicRequest" message="tns:SyncDataMusic" />
<output wsam:Action="http://Index/WSIndex/SyncDataMusicResponse" message="tns:SyncDataMusicResponse" />
</operation>
<operation name="IndexDataMusic">
<input wsam:Action="http://Index/WSIndex/IndexDataMusicRequest" message="tns:IndexDataMusic" />
<output wsam:Action="http://Index/WSIndex/IndexDataMusicResponse" message="tns:IndexDataMusicResponse" />
</operation>
<operation name="SyncDataImage">
<input wsam:Action="http://Index/WSIndex/SyncDataImageRequest" message="tns:SyncDataImage" />
<output wsam:Action="http://Index/WSIndex/SyncDataImageResponse" message="tns:SyncDataImageResponse" />
</operation>
<operation name="IndexDataImage">
<input wsam:Action="http://Index/WSIndex/IndexDataImageRequest" message="tns:IndexDataImage" />
<output wsam:Action="http://Index/WSIndex/IndexDataImageResponse" message="tns:IndexDataImageResponse" />
</operation>
<operation name="SyncDataVideo">
<input wsam:Action="http://Index/WSIndex/SyncDataVideoRequest" message="tns:SyncDataVideo" />
<output wsam:Action="http://Index/WSIndex/SyncDataVideoResponse" message="tns:SyncDataVideoResponse" />
</operation>
<operation name="IndexDataVideo">
<input wsam:Action="http://Index/WSIndex/IndexDataVideoRequest" message="tns:IndexDataVideo" />
<output wsam:Action="http://Index/WSIndex/IndexDataVideoResponse" message="tns:IndexDataVideoResponse" />
</operation>
</portType>
<binding name="WSIndexPortBinding" type="tns:WSIndex">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="SyncDataWiki">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IndexDataViwiki">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SyncDataMusic">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IndexDataMusic">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SyncDataImage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IndexDataImage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SyncDataVideo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IndexDataVideo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSIndexService">
<port name="WSIndexPort" binding="tns:WSIndexPortBinding">
<soap:address location="http://localhost:8084/WSIndex/WSIndex" />
</port>
</service>
</definitions>