viwiki/src/META-INF/WSIndex.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Index/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Index/" name="WSIndexService">
<types>
<xsd:schema>
<xsd:import namespace="http://Index/" schemaLocation="http://localhost:8084/WSIndex/WSIndex?xsd=1" />
</xsd:schema>
</types>
<message name="SyncDataWiki">
<part name="parameters" element="tns:SyncDataWiki" />
</message>
<message name="SyncDataWikiResponse">
<part name="parameters" element="tns:SyncDataWikiResponse" />
</message>
<message name="IndexDataViwiki">
<part name="parameters" element="tns:IndexDataViwiki" />
</message>
<message name="IndexDataViwikiResponse">
<part name="parameters" element="tns:IndexDataViwikiResponse" />
</message>
<message name="IndexDataRaovat">
<part name="parameters" element="tns:IndexDataRaovat" />
</message>
<message name="IndexDataRaovatResponse">
<part name="parameters" element="tns:IndexDataRaovatResponse" />
</message>
<message name="SyncDataRaovat">
<part name="parameters" element="tns:SyncDataRaovat" />
</message>
<portType name="WSIndex">
<operation name="SyncDataWiki">
<input wsam:Action="http://Index/WSIndex/SyncDataWikiRequest" message="tns:SyncDataWiki" />
<output wsam:Action="http://Index/WSIndex/SyncDataWikiResponse" message="tns:SyncDataWikiResponse" />
</operation>
<operation name="IndexDataViwiki">
<input wsam:Action="http://Index/WSIndex/IndexDataViwikiRequest" message="tns:IndexDataViwiki" />
<output wsam:Action="http://Index/WSIndex/IndexDataViwikiResponse" message="tns:IndexDataViwikiResponse" />
</operation>
<operation name="IndexDataRaovat">
<input wsam:Action="http://Index/WSIndex/IndexDataRaovatRequest" message="tns:IndexDataRaovat" />
<output wsam:Action="http://Index/WSIndex/IndexDataRaovatResponse" message="tns:IndexDataRaovatResponse" />
</operation>
<operation name="SyncDataRaovat">
<input wsam:Action="http://Index/WSIndex/SyncDataRaovat" message="tns:SyncDataRaovat" />
</operation>
</portType>
<binding name="WSIndexPortBinding" type="tns:WSIndex">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="SyncDataWiki">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IndexDataViwiki">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="IndexDataRaovat">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SyncDataRaovat">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
</binding>
<service name="WSIndexService">
<port name="WSIndexPort" binding="tns:WSIndexPortBinding">
<soap:address location="http://localhost:8084/WSIndex/WSIndex" />
</port>
</service>
</definitions>